node_modules/
.env
.env.local
.env.*.local

# hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/

# next
web/.next/
web/out/
web/next-env.d.ts
web/tsconfig.tsbuildinfo

# misc
.DS_Store
*.log
